<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.TrdOrderMapper">

	<!-- 配置resultMap属性，进行表字段与实体类属性映射 -->  
    <resultMap id="BaseResultMap" type="cn.entity.TrdOrder" > 
       <result column="id" property="id"></result>  
       <result column="cre_user_id" property="creUserId"></result>  
       <result column="order_no" property="orderNo"></result>  
       <result column="cl_order_no" property="clOrderNo"></result>  
       <result column="number" property="number"></result>  
       <result column="money" property="money"></result>  
       <result column="pay_type" property="payType"></result>  
       <result column="pay_time" property="payTime"></result>
       <result column="type" property="type"></result>  
       <result column="status" property="status"></result>  
       <result column="delete_status" property="deleteStatus"></result>
       <result column="version" property="version"></result>  
       <result column="create_time" property="createTime"></result>  
       <result column="update_time" property="updateTime"></result>
    </resultMap> 

	<select id="findByOrderNo" resultMap="BaseResultMap" parameterType="HashMap">
		SELECT * FROM trd_order WHERE ORDER_NO = #{orderNo} AND DELETE_STATUS = '0' 
	</select>
	
	<select id="findByClOrderNo" resultMap="BaseResultMap" parameterType="HashMap">
		SELECT * FROM trd_order WHERE CL_ORDER_NO = #{clOrderNo} AND DELETE_STATUS = '0' 
	</select>

	<update id="updateTrdOrder" parameterType="cn.entity.TrdOrder">
		UPDATE trd_order
		<trim prefix="set" suffixOverrides=",">
			<if test="creUserId != null">
				CRE_USER_ID = #{creUserId},
			</if>
			<if test="orderNo != null">
				ORDER_NO = #{orderNo},
			</if>
			<if test="clOrderNo != null">
				CL_ORDER_NO = #{clOrderNo},
			</if>
			<if test="number != null">
				NUMBER = #{number},
			</if>
			<if test="money != null">
				MONEY = #{money},
			</if>
			<if test="payType != null">
				PAY_TYPE = #{payType},
			</if>
			<if test="payTime != null">
				PAY_TIME = #{payTime},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="status != null">
				STATUS = #{status},
			</if>
			<if test="deleteStatus != null">
				DELETE_STATUS = #{deleteStatus},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime},
			</if>
			version = version + 1
		</trim>
		WHERE ID=#{id} and VERSION = #{version}
	</update>
	
	 <insert id ="saveTrdOrder" parameterType="cn.entity.TrdOrder" >
		INSERT INTO trd_order(
			CRE_USER_ID,
			ORDER_NO,
			CL_ORDER_NO,
			NUMBER,
			MONEY,
			PAY_TYPE,
			PAY_TIME,
			TYPE,
			STATUS,
			DELETE_STATUS,
			VERSION,
			CREATE_TIME,
			UPDATE_TIME)
		VALUES (
			#{creUserId},
			#{orderNo},
			#{clOrderNo},
			#{number},
			#{money},
			#{payType},
			#{payTime},
			#{type},
			#{status},
			'0',
			0,
			#{createTime},
			#{updateTime}
		)
	 </insert>


</mapper>