<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.ApiAccountInfoMapper">

	<!-- 配置resultMap属性，进行表字段与实体类属性映射 -->  
    <resultMap id="BaseResultMap" type="cn.entity.ApiAccountInfo" >  
       <result column="id" property="id"></result>  
       <result column="cre_user_id" property="creUserId"></result>  
       <result column="name" property="name"></result> 
       <result column="password" property="password"></result>
       <result column="num_reminding" property="numReminding"></result>
       <result column="bd_ip" property="bdIp"></result>
       <result column="push_mobiles" property="pushMobiles"></result>
       <result column="delete_status" property="deleteStatus"></result>
       <result column="version" property="version"></result>  
       <result column="create_time" property="createTime"></result>
       <result column="update_time" property="updateTime"></result>  
    </resultMap> 
    
	<select id="findByCreUserIdAndName" resultMap="BaseResultMap" parameterType="HashMap">
		SELECT * FROM api_acount_info WHERE CRE_USER_ID = #{0} AND NAME = #{1} AND DELETE_STATUS = '0'
	</select>
	
	<select id="findByNameAndPwd" resultMap="BaseResultMap" parameterType="HashMap">
		SELECT * FROM api_acount_info WHERE NAME = #{0} AND PASSWORD = #{1} AND DELETE_STATUS = '0'
	</select>
	
	<select id="findByCreUserId" resultMap="BaseResultMap" parameterType="HashMap">
		SELECT * FROM api_acount_info WHERE CRE_USER_ID = #{creUserId} AND DELETE_STATUS = '0'
	</select>

	<update id="update" parameterType="cn.entity.ApiAccountInfo">
		UPDATE api_acount_info
		<trim prefix="set" suffixOverrides=",">
			<if test="creUserId != null">
				CRE_USER_ID = #{creUserId},
			</if>
			<if test="name != null">
				NAME = #{name},
			</if>
			<if test="password != null">
				PASSWORD = #{password},
			</if>
			<if test="numReminding != null">
				NUM_REMINDING = #{numReminding},
			</if>
			<if test="bdIp != null">
				BD_IP = #{bdIp},
			</if>
			<if test="pushMobiles != null">
				PUSH_MOBILES = #{pushMobiles},
			</if>
			<if test="deleteStatus != null">
				DELETE_STATUS = #{deleteStatus},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime},
			</if>
			version = version + 1
		</trim>
		WHERE ID=#{id} and VERSION = #{version}
	</update>
	
	<update id="updateDomain" parameterType="main.java.cn.domain.ApiAccountInfoDomain">
		UPDATE api_acount_info
		<trim prefix="set" suffixOverrides=",">
			<if test="creUserId != null">
				CRE_USER_ID = #{creUserId},
			</if>
			<if test="name != null">
				NAME = #{name},
			</if>
			<if test="password != null">
				PASSWORD = #{password},
			</if>
			<if test="numReminding != null">
				NUM_REMINDING = #{numReminding},
			</if>
			<if test="bdIp != null">
				BD_IP = #{bdIp},
			</if>
			<if test="pushMobiles != null">
				PUSH_MOBILES = #{pushMobiles},
			</if>
			<if test="deleteStatus != null">
				DELETE_STATUS = #{deleteStatus},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime},
			</if>
			version = version + 1
		</trim>
		WHERE ID=#{id} and VERSION = #{version}
	</update>
	
	 <insert id ="save" parameterType="cn.entity.ApiAccountInfo" >
		INSERT INTO api_acount_info(
			CRE_USER_ID,
			NAME,
			PASSWORD,
			NUM_REMINDING,
			BD_IP,
			PUSH_MOBILES,
			DELETE_STATUS,
			VERSION,
			CREATE_TIME,
			UPDATE_TIME)
		VALUES (
			#{creUserId},
			#{name},
			#{password},
			#{numReminding},
			#{bdIp},
			#{pushMobiles},
			0,
			0,
			#{createTime},
			#{updateTime}
		)
	 </insert>


</mapper>