<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.CreUserAccountMapper">

	<!-- 配置resultMap属性，进行表字段与实体类属性映射 -->  
    <resultMap id="BaseResultMap" type="cn.entity.CreUserAccount" >  
       <result column="id" property="id"></result>  
       <result column="cre_user_id" property="creUserId"></result>  
       <result column="account" property="account"></result> 
       <result column="api_account" property="apiAccount"></result>
	   <result column="rq_account" property="rqAccount"></result>
       <result column="delete_status" property="deleteStatus"></result>
       <result column="version" property="version"></result>  
       <result column="create_time" property="createTime"></result>
       <result column="update_time" property="updateTime"></result>  
    </resultMap> 

	<select id="findCreUserAccountByUserId" resultMap="BaseResultMap" parameterType="HashMap">
		SELECT * FROM cre_user_account WHERE CRE_USER_ID = #{creUserId} AND DELETE_STATUS = '0'
	</select>

	<update id="updateCreUserAccount" parameterType="cn.entity.CreUserAccount">
		UPDATE cre_user_account
		<trim prefix="set" suffixOverrides=",">
			<if test="creUserId != null">
				CRE_USER_ID = #{creUserId},
			</if>
			<if test="account != null">
				ACCOUNT = #{account},
			</if>
			<if test="apiAccount != null">
				API_ACCOUNT = #{apiAccount},
			</if>
			<if test="rqAccount != null">
				RQ_ACCOUNT = #{rqAccount},
			</if>
			<if test="deleteStatus != null">
				DELETE_STATUS = #{deleteStatus},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime},
			</if>
			version = version + 1
		</trim>
		WHERE ID=#{id} and VERSION = #{version}
	</update>
	
	 <insert id ="saveCreUserAccount" parameterType="cn.entity.CreUserAccount" >
		INSERT INTO cre_user_account(
			CRE_USER_ID,
			ACCOUNT,
			API_ACCOUNT,
			RQ_ACCOUNT,
			DELETE_STATUS,
			VERSION,
			CREATE_TIME,
			UPDATE_TIME)
		VALUES (
			#{creUserId},
			#{account},
			#{apiAccount},
			#{rqAccount},
			'0',
			0,
			#{createTime},
			#{updateTime}
		)
	 </insert>

    
   <update id="addByUserId" parameterType="HashMap">
		UPDATE cre_user_account
		    <trim prefix="set" suffixOverrides=",">
			<if test="account != null  and account!=''"> account =account + #{account}, </if>
			<if test="apiAccount != null and apiAccount!=''"> api_account =api_account + #{apiAccount}, </if>
			<if test="rqAccount != null and rqAccount!=''"> rq_account =rq_account + #{rqAccount}, </if>
			<if test="updateTime != null"> update_time = #{updateTime}, </if>
			<!-- 		
			<if test="tcAccount != null"> tc_account =tc_account + #{tcAccount}, </if>
			<if test="fcAccount != null"> fc_account =fc_account + #{fcAccount}, </if>
			<if test="msAccount != null"> ms_account =ms_account + #{msAccount}, </if> 
	         --> 
			 version =version+1,
		   </trim>
		WHERE cre_user_id=#{creUserId} 
		and delete_status='0'
	</update>
	
	
	 <update id="subByUserId" parameterType="HashMap">
		UPDATE cre_user_account
		 <trim prefix="set" suffixOverrides=",">
			<if test="account != null and account!=''"> account =account - #{account}, </if>
			<if test="apiAccount != null and apiAccount!=''"> api_account =api_account - #{apiAccount}, </if>
			<if test="rqAccount != null and rqAccount!=''"> rq_account =rq_account - #{rqAccount}, </if>
			<!--<if test="tcAccount != null"> tc_account =tc_account - #{tcAccount}, </if>
			<if test="fcAccount != null"> fc_account =fc_account - #{fcAccount}, </if>
			<if test="msAccount != null"> ms_account =ms_account - #{msAccount}, </if> 
			-->
			<if test="updateTime != null"> update_time = #{updateTime}, </if>
			version =version+1,
		</trim>
		WHERE cre_user_id=#{creUserId} 
		and delete_status='0'
	</update>
	
	
</mapper>