<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dao.tds.TdsApprovalLogMapper">

	<resultMap id="BaseResultMap" type="cn.entity.tds.TdsApprovalLog">
		<result column="id" property="id"></result>
		<result column="user_id" property="userId"></result>
		<result column="app_status" property="appStatus"></result>
		<result column="app_remarks" property="appRemarks"></result>
		<result column="spare1" property="spare1"></result>
		<result column="is_deleted" property="isDeleted"></result>
		<result column="create_time" property="createTime"></result>
	</resultMap>

	<sql id="Base_Column_List">
		id,
		user_id,
		app_status,
		app_remarks,
		spare1,
		is_deleted,
		create_time
	</sql>

	<select id="loadById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_approval_log
		WHERE
		id=#{id} AND IS_DELETED='0'

	</select>

	<select id="selectAll" resultMap="BaseResultMap" parameterType="cn.entity.tds.TdsApprovalLog">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_approval_log
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="userId != null">and user_id = #{userId}</if>
			<if test="appStatus != null">and app_status = #{appStatus}</if>
			<if test="appRemarks != null">and app_remarks = #{appRemarks}</if>
			<if test="spare1 != null">and spare1 = #{spare1}</if>
			<if test="createTime != null">and create_time = #{createTime}</if>
			and is_deleted = '0'
		</where>
	</select>

	<insert id="save" parameterType="cn.entity.tds.TdsApprovalLog">
		INSERT INTO tds_approval_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null"> user_id , </if>
			<if test="appStatus != null"> app_status , </if>
			<if test="appRemarks != null"> app_remarks , </if>
			<if test="spare1 != null"> spare1 , </if>
			<if test="createTime != null"> create_time , </if>
			is_deleted ,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null"> #{userId} , </if>
			<if test="appStatus != null"> #{appStatus} , </if>
			<if test="appRemarks != null"> #{appRemarks} , </if>
			<if test="spare1 != null"> #{spare1} , </if>
			<if test="createTime != null"> #{createTime} , </if>
			'0' ,
		</trim>
	</insert>


	<update id="deleteById" parameterType="java.lang.Integer">
		UPDATE tds_approval_log
		SET IS_DELETED='1'
		WHERE id=#{id}
	</update>



	<update id="update" parameterType="cn.entity.tds.TdsApprovalLog">
		UPDATE tds_approval_log
		<trim prefix="set" suffixOverrides=",">
			<if test="id != null"> id = #{id}, </if>
			<if test="userId != null"> user_id = #{userId}, </if>
			<if test="appStatus != null"> app_status = #{appStatus}, </if>
			<if test="appRemarks != null"> app_remarks = #{appRemarks}, </if>
			<if test="spare1 != null"> spare1 = #{spare1}, </if>
			<if test="isDeleted != null"> is_deleted = #{isDeleted}, </if>
			<if test="createTime != null"> create_time = #{createTime}, </if>
		</trim>
		WHERE id=#{id}
	</update>



	<!-- is_deleted=2 注册审核 -->
	<select id="pageTdsApproval" parameterType="HashMap"
		resultType="cn.entity.tds.view.TdsCustomerView">
		SELECT u.id as userId,u.name as userName,d.id as departId, d.name as
		departName,u.contact,u.phone,u.create_time,
		u.source,com.com_name as
		comName,com.com_url as
		comUrl,u.is_deleted,u.parent_user_id from
		tds_user u LEFT JOIN tds_user_department ud
		ON u.id=ud.user_id LEFT JOIN tds_department d
		on d.id=ud.depart_id LEFT JOIN tds_company com ON
		com.id=u.com_id where u.id in (
		select id from tds_user
		where parent_user_id=#{parentUserId}
		and is_deleted='2'
		)
		<if test="departId != null and departId!=''">AND d.id = #{departId}</if>
		<if test="userName != null and userName!=''">AND u.name = #{userName}</if>
		<if test="statTime != null and statTime!=''">
			AND u.create_time &gt;= #{statTime}
			AND u.create_time &lt;= #{endTime}
		</if>
	    order by u.create_time desc
		LIMIT #{pageNumber},#{numPerPage}
	</select>


	<select id="queryCount" resultType="java.lang.Integer"
		parameterType="Hashmap">
		SELECT count(1) from tds_user u LEFT JOIN tds_user_department ud
		ON u.id=ud.user_id  LEFT JOIN tds_department d
		on d.id=ud.depart_id LEFT JOIN tds_company com  ON
		com.id=u.com_id  where  u.id in (
		select id from tds_user 
		where parent_user_id=#{parentUserId} 
		 and is_deleted='2'
		 )
		<if test="departId != null and departId!=''">AND d.id = #{departId}</if>
		<if test="contact != null  and contact!=''">AND u.contact = #{contact}</if>
		<if test="statTime != null and statTime!=''">
			AND u.create_time &gt;= #{statTime}
			AND u.create_time &lt;= #{endTime}
		</if>
	</select>

</mapper>