<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dao.tds.TdsAccountBankMapper">

	<resultMap id="BaseResultMap" type="cn.entity.tds.TdsAccountBank">
		<result column="id" property="id"></result>
		<result column="less_name" property="lessName"></result>
		<result column="account_name" property="accountName"></result>
		<result column="bank_type" property="bankType"></result>
		<result column="bank_name" property="bankName"></result>
		<result column="open_account" property="openAccount"></result>
		<result column="is_deleted" property="isDeleted"></result>
		<result column="create_time" property="createTime"></result>
		<result column="update_time" property="updateTime"></result>
		<result column="creater" property="creater"></result>
		<result column="updater" property="updater"></result>
		<result column="remarks" property="remarks"></result>
		<result column="uid" property="uid"></result>
	</resultMap>

	<sql id="Base_Column_List">
		id,
		less_name,
		account_name,
		bank_type,
		bank_name,
		open_account,
		is_deleted,
		create_time,
		update_time,
		creater,
		updater,
		remarks,
		uid
	</sql>

	<select id="loadById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_account_bank
		WHERE
		id=#{id} AND IS_DELETED='0'

	</select>

	<select id="selectAll" resultMap="BaseResultMap" parameterType="cn.entity.tds.TdsAccountBank">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_account_bank
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="lessName != null">and less_name = #{lessName}</if>
			<if test="accountName != null">and account_name = #{accountName}</if>
			<if test="bankType != null">and bank_type = #{bankType}</if>
			<if test="bankName != null">and bank_name = #{bankName}</if>
			<if test="openAccount != null">and open_account = #{openAccount}</if>
			<if test="createTime != null">and create_time = #{createTime}</if>
			<if test="updateTime != null">and update_time = #{updateTime}</if>
			<if test="creater != null">and creater = #{creater}</if>
			<if test="updater != null">and updater = #{updater}</if>
			<if test="remarks != null">and remarks = #{remarks}</if>
			<if test="uid != null">and uid = #{uid}</if>
			and is_deleted ='0'
		</where>
	</select>

	<insert id="save" parameterType="cn.entity.tds.TdsAccountBank">
		INSERT INTO tds_account_bank
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="lessName != null"> less_name , </if>
			<if test="accountName != null"> account_name , </if>
			<if test="bankType != null"> bank_type , </if>
			<if test="bankName != null"> bank_name , </if>
			<if test="openAccount != null"> open_account , </if>
			<if test="createTime != null"> create_time , </if>
			<if test="updateTime != null"> update_time , </if>
			<if test="creater != null"> creater , </if>
			<if test="updater != null"> updater , </if>
			<if test="remarks != null"> remarks , </if>
			<if test="uid != null"> uid , </if>
			is_deleted ,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="lessName != null"> #{lessName} , </if>
			<if test="accountName != null"> #{accountName} , </if>
			<if test="bankType != null"> #{bankType} , </if>
			<if test="bankName != null"> #{bankName} , </if>
			<if test="openAccount != null"> #{openAccount} , </if>
			<if test="createTime != null"> #{createTime} , </if>
			<if test="updateTime != null"> #{updateTime} , </if>
			<if test="creater != null"> #{creater} , </if>
			<if test="updater != null"> #{updater} , </if>
			<if test="remarks != null"> #{remarks} , </if>
			<if test="uid != null"> #{uid} , </if>
			'0',
		</trim>

	</insert>


	<update id="deleteById" parameterType="java.lang.Integer">
		UPDATE tds_account_bank
		SET IS_DELETED='1'
		WHERE id=#{id}
	</update>



	<update id="update" parameterType="cn.entity.tds.TdsAccountBank">
		UPDATE tds_account_bank
		<trim prefix="set" suffixOverrides=",">
			<if test="id != null"> id = #{id}, </if>
			<if test="lessName != null"> less_name = #{lessName}, </if>
			<if test="accountName != null"> account_name = #{accountName}, </if>
			<if test="bankType != null"> bank_type = #{bankType}, </if>
			<if test="bankName != null"> bank_name = #{bankName}, </if>
			<if test="openAccount != null"> open_account = #{openAccount}, </if>
			<if test="createTime != null"> create_time = #{createTime}, </if>
			<if test="updateTime != null"> update_time = #{updateTime}, </if>
			<if test="creater != null"> creater = #{creater}, </if>
			<if test="updater != null"> updater = #{updater}, </if>
			<if test="remarks != null"> remarks = #{remarks}, </if>
			<if test="uid != null"> uid = #{uid}, </if>
		</trim>
		WHERE id=#{id} and is_deleted='0'
	</update>



	<select id="pageTdsAccountBank" parameterType="HashMap"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_account_bank
		<where>
			<if test="selected == 1 and likeName!=null">less_name like concat(concat('%',#{likeName}),'%')</if>
			<if test="selected == 2 and likeName!=null">account_name like concat(concat('%',#{likeName}),'%')</if>
			<if test="selected == 3 and likeName!=null">bank_name like concat(concat('%',#{likeName}),'%')</if>
			<if test="selected == 4 and likeName!=null">open_account like concat(concat('%',#{likeName}),'%')</if>
			<if test="selected == 0 and likeName!=null and likeName!=''">
				less_name like concat(concat('%',#{likeName}),'%')
				or account_name like concat(concat('%',#{likeName}),'%')
				or bank_name like concat(concat('%',#{likeName}),'%')
				or open_account like concat(concat('%',#{likeName}),'%')
			</if> 
			and is_deleted ='0'
		</where>
		LIMIT #{pageNumber},#{numPerPage}
	</select>

	<select id="queryCount" parameterType="HashMap" resultType="java.lang.Integer">
		SELECT count(1)
		FROM tds_account_bank
		<where>
			<if test="selected == 1 and likeName!=null">less_name like concat(concat('%',#{likeName}),'%')</if>
			<if test="selected == 2 and likeName!=null">account_name like concat(concat('%',#{likeName}),'%')</if>
			<if test="selected == 3 and likeName!=null">bank_name like concat(concat('%',#{likeName}),'%')</if>
			<if test="selected == 4 and likeName!=null">open_account like concat(concat('%',#{likeName}),'%')</if>
	        <if test="selected == 0 and likeName!=null and likeName!=''">
				less_name like concat(concat('%',#{likeName}),'%')
				or account_name like concat(concat('%',#{likeName}),'%')
				or bank_name like concat(concat('%',#{likeName}),'%')
				or open_account like concat(concat('%',#{likeName}),'%')
			</if> 
			and is_deleted ='0'
		</where>
	</select>


</mapper>