<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dao.tds.TdsCarryMapper">
	<resultMap id="BaseResultMap" type="cn.entity.tds.TdsCarry">
		<result column="id" property="id"></result>
		<result column="user_id" property="userId"></result>
		<result column="carry_serial" property="carrySerial"></result>
		<result column="carry_order" property="carryOrder"></result>
		<result column="carry_type" property="carryType"></result>
		<result column="carry_type_name" property="carryTypeName"></result>
		<result column="is_deleted" property="isDeleted"></result>
		<result column="carr_money" property="carrMoney"></result>
		<result column="carr_status" property="carrStatus"></result>
		<result column="create_time" property="createTime"></result>
		<result column="update_time" property="updateTime"></result>
		<result column="creater" property="creater"></result>
		<result column="updater" property="updater"></result>
		<result column="remarks" property="remarks"></result>
	</resultMap>

	<sql id="Base_Column_List">
		id,
		user_id,
		carry_serial,
		carry_order,
		carry_type,
		carry_type_name,
		is_deleted,
		carr_money,
		carr_status,
		create_time,
		update_time,
		creater,
		updater,
		remarks
	</sql>

	<select id="loadById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_carry
		WHERE
		id=#{id}
		AND IS_DELETED='0'

	</select>

	<select id="selectAll" resultMap="BaseResultMap" parameterType="cn.entity.tds.TdsCarry">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_carry
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="userId != null">and user_id = #{userId}</if>
			<if test="carrySerial != null">and carry_serial = #{carrySerial}</if>
			<if test="carryOrder != null">and carry_order = #{carryOrder}</if>
			<if test="carryType != null">and carry_type = #{carryType}</if>
			<if test="carryTypeName != null">and carry_type_name = #{carryTypeName}</if>
			<if test="carrMoney != null">and carr_money = #{carrMoney}</if>
			<if test="carrStatus != null">and carr_status = #{carrStatus}</if>
			<if test="createTime != null">and create_time = #{createTime}</if>
			<if test="updateTime != null">and update_time = #{updateTime}</if>
			<if test="creater != null">and creater = #{creater}</if>
			<if test="updater != null">and updater = #{updater}</if>
			<if test="remarks != null">and remarks = #{remarks}</if>
			and is_deleted = '0'
		</where>
	</select>

	<insert id="save" parameterType="cn.entity.tds.TdsCarry">
		INSERT INTO tds_carry
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null"> user_id , </if>
			<if test="carrySerial != null"> carry_serial , </if>
			<if test="carryOrder != null"> carry_order , </if>
			<if test="carryType != null"> carry_type , </if>
			<if test="carryTypeName != null"> carry_type_name , </if>
			<if test="carrMoney != null"> carr_money , </if>
			<if test="carrStatus != null"> carr_status , </if>
			<if test="createTime != null"> create_time , </if>
			<if test="updateTime != null"> update_time , </if>
			<if test="creater != null"> creater , </if>
			<if test="updater != null"> updater , </if>
			<if test="remarks != null"> remarks , </if>
			is_deleted ,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null"> #{userId} , </if>
			<if test="carrySerial != null"> #{carrySerial} , </if>
			<if test="carryOrder != null"> #{carryOrder} , </if>
			<if test="carryType != null"> #{carryType} , </if>
			<if test="carryTypeName != null"> #{carryTypeName} , </if>
			<if test="carrMoney != null"> #{carrMoney} , </if>
			<if test="carrStatus != null"> #{carrStatus} , </if>
			<if test="createTime != null"> #{createTime} , </if>
			<if test="updateTime != null"> #{updateTime} , </if>
			<if test="creater != null"> #{creater} , </if>
			<if test="updater != null"> #{updater} , </if>
			<if test="remarks != null"> #{remarks} , </if>
			 '0', 
		</trim>

	</insert>


	<update id="deleteById" parameterType="java.lang.Integer">
		UPDATE tds_carry SET IS_DELETED='1'
		WHERE id=#{id}
	</update>



	<update id="update" parameterType="cn.entity.tds.TdsCarry">
		UPDATE tds_carry
		<trim prefix="set" suffixOverrides=",">
			<if test="id != null"> id = #{id}, </if>
			<if test="userId != null"> user_id = #{userId}, </if>
			<if test="carrySerial != null"> carry_serial = #{carrySerial}, </if>
			<if test="carryOrder != null"> carry_order = #{carryOrder}, </if>
			<if test="carryType != null"> carry_type = #{carryType}, </if>
			<if test="carryTypeName != null"> carry_type_name = #{carryTypeName}, </if>
			<if test="isDeleted != null"> is_deleted = #{isDeleted}, </if>
			<if test="carrMoney != null"> carr_money = #{carrMoney}, </if>
			<if test="carrStatus != null"> carr_status = #{carrStatus}, </if>
			<if test="createTime != null"> create_time = #{createTime}, </if>
			<if test="updateTime != null"> update_time = #{updateTime}, </if>
			<if test="creater != null"> creater = #{creater}, </if>
			<if test="updater != null"> updater = #{updater}, </if>
			<if test="remarks != null"> remarks = #{remarks}, </if>
		</trim>
		WHERE id=#{id}
	</update>


	<select id="pageTdsCarry" parameterType="HashMap" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_carry
		<where>
			<if test="statTime != null and statTime!=''">
				AND create_time &gt;= #{statTime}
				AND create_time &lt;= #{endTime}
			</if>
			<if test="carrStatus!=null and carrStatus!='' ">
				and carr_status=#{carrStatus}
			</if>
			and is_deleted ='0'
		</where>
		ORDER BY create_time DESC
		LIMIT #{pageNumber},#{numPerPage}
	</select>

	<select id="queryCount" parameterType="HashMap" resultType="java.lang.Integer">
		SELECT count(1)
		FROM tds_carry
		<where>
			<if test="statTime != null and statTime!=''">
				AND create_time &gt;= #{statTime}
				AND create_time &lt;= #{endTime}
			</if>
			<if test="carrStatus!=null and carrStatus!='' ">
				and carr_status=#{carrStatus}
			</if>
			and is_deleted ='0'
		</where>
	</select>

</mapper>