<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dao.tds.TdsCompanyMapper">

	<resultMap id="BaseResultMap" type="cn.entity.tds.TdsCompany">
		<result column="id" property="id"></result>
		<result column="com_name" property="comName"></result>
		<result column="com_url" property="comUrl"></result>
		<result column="com_business" property="comBusiness"></result>
		<result column="com_address" property="comAddress"></result>
		<result column="com_email" property="comEmail"></result>
		<result column="create_time" property="createTime"></result>
		<result column="update_time" property="updateTime"></result>
		<result column="creater" property="creater"></result>
		<result column="updater" property="updater"></result>
		<result column="is_deleted" property="isDeleted"></result>
		<result column="remarks" property="remarks"></result>
	</resultMap>

	<sql id="Base_Column_List">
		id,
		com_name,
		com_url,
		com_business,
		com_address,
		com_email,
		create_time,
		update_time,
		creater,
		updater,
		is_deleted,
		remarks
	</sql>

	<select id="loadById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_company
		WHERE
		id=#{id} AND IS_DELETED='0'

	</select>

	<select id="selectAll" resultMap="BaseResultMap" parameterType="cn.entity.tds.TdsCompany">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_company
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="comName != null">and com_name = #{comName}</if>
			<if test="comUrl != null">and com_url = #{comUrl}</if>
			<if test="comBusiness != null">and com_business = #{comBusiness}</if>
			<if test="comAddress != null">and com_address = #{comAddress}</if>
			<if test="comEmail != null">and com_email = #{comEmail}</if>
			<if test="createTime != null">and create_time = #{createTime}</if>
			<if test="updateTime != null">and update_time = #{updateTime}</if>
			<if test="creater != null">and creater = #{creater}</if>
			<if test="updater != null">and updater = #{updater}</if>
			<if test="remarks != null">and remarks = #{remarks}</if>
			and is_deleted = '0'
		</where>
	</select>

	<insert id="save" parameterType="cn.entity.tds.TdsCompany"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tds_company
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="comName != null"> com_name , </if>
			<if test="comUrl != null"> com_url , </if>
			<if test="comBusiness != null"> com_business , </if>
			<if test="comAddress != null"> com_address , </if>
			<if test="comEmail != null"> com_email , </if>
			<if test="createTime != null"> create_time , </if>
			<if test="updateTime != null"> update_time , </if>
			<if test="creater != null"> creater , </if>
			<if test="updater != null"> updater , </if>
			<if test="remarks != null"> remarks , </if>
			is_deleted ,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="comName != null"> #{comName} , </if>
			<if test="comUrl != null"> #{comUrl} , </if>
			<if test="comBusiness != null"> #{comBusiness} , </if>
			<if test="comAddress != null"> #{comAddress} , </if>
			<if test="comEmail != null"> #{comEmail} , </if>
			<if test="createTime != null"> #{createTime} , </if>
			<if test="updateTime != null"> #{updateTime} , </if>
			<if test="creater != null"> #{creater} , </if>
			<if test="updater != null"> #{updater} , </if>
			<if test="remarks != null"> #{remarks} , </if>
			'0',
		</trim>

	</insert>


	<update id="deleteById" parameterType="java.lang.Integer">
		UPDATE tds_company SET
		IS_DELETED='1'
		WHERE id=#{id}
	</update>



	<update id="update" parameterType="cn.entity.tds.TdsCompany">
		UPDATE tds_company
		<trim prefix="set" suffixOverrides=",">
			<if test="comName != null"> com_name = #{comName}, </if>
			<if test="comUrl != null"> com_url = #{comUrl}, </if>
			<if test="comBusiness != null"> com_business = #{comBusiness}, </if>
			<if test="comAddress != null"> com_address = #{comAddress}, </if>
			<if test="comEmail != null"> com_email = #{comEmail}, </if>
			<if test="createTime != null"> create_time = #{createTime}, </if>
			<if test="updateTime != null"> update_time = #{updateTime}, </if>
			<if test="creater != null"> creater = #{creater}, </if>
			<if test="updater != null"> updater = #{updater}, </if>
			<if test="remarks != null"> remarks = #{remarks}, </if>
		</trim>
		WHERE id=#{id} and is_deleted='0'
	</update>





	<select id="getComUrlAndComName" parameterType="Hashmap" resultType="cn.entity.tds.TdsCompany">
		SELECT <include refid="Base_Column_List" />
	    FROM tds_company
		where com_url = #{comUrl} 
		and com_name=#{comName}
		and is_deleted='0'
	</select>




	<select id="selectCompanyAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tds_company
		where is_deleted='0'
	</select>
	
	
	<select id="queryComByUserId" parameterType="HashMap" resultMap="BaseResultMap">
    select * from tds_company
	where id=(
	select com_id from tds_user
	where id=#{userId} 
	and is_deleted='0'
	)and is_deleted='0'
	</select>
	
</mapper>