<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dao.tds.TdsEnumMapper">

	<resultMap id="BaseResultMap" type="cn.entity.tds.TdsEnum">
		<result column="id" property="id"></result>
		<result column="sl_name" property="slName"></result>
		<result column="type_code" property="typeCode"></result>
		<result column="field_value" property="fieldValue"></result>
		<result column="create_time" property="createTime"></result>
		<result column="update_time" property="updateTime"></result>
		<result column="creater" property="creater"></result>
		<result column="updater" property="updater"></result>
		<result column="is_deleted" property="isDeleted"></result>
		<result column="remarks" property="remarks"></result>
	</resultMap>

	<sql id="Base_Column_List">
		id,
		sl_name,
		type_code,
		field_value,
		create_time,
		update_time,
		creater,
		updater,
		is_deleted,
		remarks
	</sql>
	
	<!-- <select  id="selectAll" resultMap="BaseResultMap" parameterType="cn.entity.tds.TdsEnum">
	    SELECT 
		<include refid="Base_Column_List"/>
        FROM tds_enum
        <where>
	    <if test="id != null">and id = #{id}</if>
		<if test="slName != null">and sl_name = #{slName}</if>
		<if test="typeCode != null">and type_code = #{typeCode}</if>
		<if test="fieldValue != null">and field_value = #{fieldValue}</if>
		<if test="createTime != null">and create_time = #{createTime}</if>
		<if test="updateTime != null">and update_time = #{updateTime}</if>
		<if test="creater != null">and creater = #{creater}</if>
		<if test="updater != null">and updater = #{updater}</if>
		<if test="isDeleted != null">and is_deleted = #{isDeleted}</if>
		<if test="remarks != null">and remarks = #{remarks}</if>
		</where>
	</select> -->

	<select id="queryByTypeCode" parameterType="HashMap"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_enum
		WHERE
		type_code like concat(concat('%',#{codeName}),'%')
		and is_deleted='0'
	</select>

</mapper>