<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dao.tds.TdsMoneyApprovalGoMapper">

	<resultMap id="BaseResultMap" type="cn.entity.tds.TdsMoneyApproval">
		<result column="id" property="id"></result>
		<result column="user_id" property="userId"></result>
		<result column="serial_number" property="serialNumber"></result>
		<result column="order_number" property="orderNumber"></result>
		<result column="user_name" property="userName"></result>
		<result column="pname" property="pname"></result>
		<result column="number" property="number"></result>
		<result column="money" property="money"></result>
		<result column="sum_money" property="sumMoney"></result>
		<result column="payment" property="payment"></result>
		<result column="bank_id" property="bankId"></result>
		<result column="create_tiem" property="createTime"></result>
		<result column="arrive_time" property="arriveTime"></result>
		<result column="billing" property="billing"></result>
		<result column="approval_status" property="approvalStatus"></result>
		<result column="approval_type" property="approvalType"></result>
		<result column="is_deleted" property="isDeleted"></result>
		<result column="remarks" property="remarks"></result>
		<result column="update_time" property="updateTime"></result>
		<result column="updater" property="updater"></result>
		<result column="creater" property="creater"></result>
		<result column="lessName" property="lessName"></result>
		<result column="pname_id" property="pnameId"></result>
		<result column="commisson_money" property="commissonMoney"></result>
	</resultMap>

	<sql id="Base_Column_List">
		id,
		user_id,
		serial_number,
		order_number,
		user_name,
		pname,
		number,
		money,
		sum_money,
		payment,
		bank_id,
		create_time,
		arrive_time,
		billing,
		approval_status,
		approval_type,
		is_deleted,
		remarks,
		update_time,
		updater,
		creater,
		pname_id,
		commisson_money
	</sql>

	<select id="loadById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_money_approval
		WHERE
		id=#{id} AND IS_DELETED='0'

	</select>

	<select id="selectAll" resultMap="BaseResultMap"
		parameterType="cn.entity.tds.TdsMoneyApproval">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_money_approval
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="userId != null">and user_id = #{userId}</if>
			<if test="serialNumber != null">and serial_number = #{serialNumber}</if>
			<if test="orderNumber != null">and order_number = #{orderNumber}</if>
			<if test="userName != null">and user_name = #{userName}</if>
			<if test="pname != null">and pname = #{pname}</if>
			<if test="number != null">and number = #{number}</if>
			<if test="money != null">and money = #{money}</if>
			<if test="sumMoney != null">and sum_money = #{sumMoney}</if>
			<if test="payment != null">and payment = #{payment}</if>
			<if test="bankId != null">and bank_id = #{bankId}</if>
			<if test="createTime != null">and create_time = #{createTime}</if>
			<if test="arriveTime != null">and arrive_time = #{arriveTime}</if>
			<if test="billing != null">and billing = #{billing}</if>
			<if test="approvalStatus != null">and approval_status = #{approvalStatus}</if>
			<if test="approvalType != null">and approval_type = #{approvalType}</if>
			<if test="remarks != null">and remarks = #{remarks}</if>
			<if test="updateTime != null">and update_time = #{updateTime}</if>
			<if test="updater != null">and updater = #{updater}</if>
			<if test="updater != null">and creater = #{creater}</if>
			<if test="pnameId != null">and pname_id = #{pnameId}</if>
			<if test="commissonMoney != null">and commisson_money = #{commissonMoney}</if>
			and is_deleted = '0'
		</where>
	</select>

	<insert id="save" parameterType="cn.entity.tds.TdsMoneyApproval">
		INSERT INTO tds_money_approval
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null"> user_id , </if>
			<if test="serialNumber != null"> serial_number , </if>
			<if test="orderNumber != null"> order_number , </if>
			<if test="userName != null"> user_name , </if>
			<if test="pname != null"> pname , </if>
			<if test="number != null"> number , </if>
			<if test="money != null"> money , </if>
			<if test="sumMoney != null"> sum_money , </if>
			<if test="payment != null"> payment , </if>
			<if test="bankId != null"> bank_id , </if>
			<if test="createTime != null"> create_time , </if>
			<if test="arriveTime != null"> arrive_time , </if>
			<if test="billing != null"> billing , </if>
			<if test="approvalStatus != null"> approval_status , </if>
			<if test="remarks != null"> remarks , </if>
			<if test="updateTime != null"> update_time , </if>
			<if test="updater != null"> updater , </if>
			<if test="creater != null"> creater , </if>
			<if test="pnameId != null"> pname_id , </if>
			<if test="commissonMoney != null"> commisson_money , </if>
			is_deleted ,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null"> #{userId} , </if>
			<if test="serialNumber != null"> #{serialNumber} , </if>
			<if test="orderNumber != null"> #{orderNumber} , </if>
			<if test="userName != null"> #{userName} , </if>
			<if test="pname != null"> #{pname} , </if>
			<if test="number != null"> #{number} , </if>
			<if test="money != null"> #{money} , </if>
			<if test="sumMoney != null"> #{sumMoney} , </if>
			<if test="payment != null"> #{payment} , </if>
			<if test="bankId != null"> #{bankId} , </if>
			<if test="createTime != null"> #{createTime} , </if>
			<if test="arriveTime != null"> #{arriveTime} , </if>
			<if test="billing != null"> #{billing} , </if>
			<if test="approvalStatus != null"> #{approvalStatus} , </if>
			<if test="remarks != null"> #{remarks} , </if>
			<if test="updateTime != null"> #{updateTime} , </if>
			<if test="updater != null"> #{updater} , </if>
			<if test="creater != null"> #{creater} , </if>
			<if test="pnameId != null"> #{pnameId} , </if>
			<if test="commissonMoney != null"> #{commissonMoney} , </if>
			'0',
		</trim>

	</insert>


	<update id="deleteById" parameterType="java.lang.Integer">
		UPDATE tds_money_approval
		SET IS_DELETED='1'
		WHERE id=#{id}
	</update>



	<update id="update" parameterType="cn.entity.tds.TdsMoneyApproval">
		UPDATE tds_money_approval
		<trim prefix="set" suffixOverrides=",">
			<if test="userId != null"> user_id = #{userId}, </if>
			<if test="serialNumber != null"> serial_number = #{serialNumber}, </if>
			<if test="orderNumber != null"> order_number = #{orderNumber}, </if>
			<if test="userName != null"> user_name = #{userName}, </if>
			<if test="pname != null"> pname = #{pname}, </if>
			<if test="number != null"> number = #{number}, </if>
			<if test="money != null"> money = #{money}, </if>
			<if test="sumMoney != null"> sum_money = #{sumMoney}, </if>
			<if test="payment != null"> payment = #{payment}, </if>
			<if test="bankId != null"> bank_id = #{bankId}, </if>
			<if test="createTime != null"> create_time = #{createTime}, </if>
			<if test="billing != null"> billing = #{billing}, </if>
			<if test="approvalStatus != null"> approval_status = #{approvalStatus}, </if>
			<if test="approvalType != null"> approval_type = #{approvalType}, </if>
			<if test="isDeleted != null"> is_deleted = #{isDeleted}, </if>
			<if test="remarks != null"> remarks = #{remarks}, </if>
			<if test="updateTime != null"> update_time = #{updateTime}, </if>
			<if test="updater != null"> updater = #{updater}, </if>
			<if test="arriveTime != null"> arrive_time=#{arriveTime} , </if>
			<if test="pnameId != null"> pname_id = #{pnameId}, </if>
			<if test="commissonMoney != null"> commisson_money = #{commissonMoney}, </if>
		</trim>
		WHERE id=#{id} and is_deleted='0'
	</update>


	<select id="pageMoneyApprovalGo" parameterType="HashMap"
		resultMap="BaseResultMap">
		SELECT *,b.less_name as lessName,app.create_time as
		createTime,enum.sl_name as pname FROM tds_money_approval
		app,tds_account_bank b,tds_enum enum
		where user_id in (
		select id from tds_user
		where
		parent_user_id=#{parentUserId}
		AND is_deleted='0'
		)and app.bank_id=b.id
		and enum.id=app.pname_id
		and app.is_deleted='0'		
	<!-- 	<if test="approvalType != null">AND app.approval_type = #{approvalType}</if> -->
		<if test="approvalStatus != null and approvalStatus!=''">AND approval_status = #{approvalStatus}</if>
		<if test="startOrderTime != null and startOrderTime!=''">AND app.create_time &gt;= #{startOrderTime}</if>
		<if test="endOrderTime != null and endOrderTime!=''">AND app.create_time &lt;= #{endOrderTime}</if>
		<if test="startArrivTime != null and startArrivTime!=''">AND app.arrive_time &gt;= #{startArrivTime}</if>
		<if test="endArrivTime != null and endArrivTime!=''">AND app.arrive_time &lt;= #{endArrivTime}</if>
		<if test="selected == 1 and likeName!=null">AND app.user_name like concat(concat('%',#{likeName}),'%')
		</if>
		<if test="selected == 2 and likeName!=null">AND app.pname like concat(concat('%',#{likeName}),'%')
		</if>
		<if test="selected == 3 and likeName!=null">AND b.less_name like concat(concat('%',#{likeName}),'%')
		</if>
		<if test="selected == 0 and likeName!=null">
			AND app.user_name like concat(concat('%',#{likeName}),'%')
			or app.pname like concat(concat('%',#{likeName}),'%')
			or b.less_name
			like concat(concat('%',#{likeName}),'%')
		</if>
		order by app.create_time desc
		LIMIT #{pageNumber},#{numPerPage}		
	</select>



	<select id="queryCount" resultType="java.lang.Integer"
		parameterType="Hashmap">
		SELECT count(1) FROM tds_money_approval app,tds_account_bank b
		where
		user_id in (
		select id from tds_user
		where
		parent_user_id=#{parentUserId}
		AND
		is_deleted='0'
		)and app.bank_id=b.id
		 and app.is_deleted='0'
	<!-- 	<if test="approvalType != null">AND app.approval_type = #{approvalType}</if> -->
		<if test="approvalStatus != null and approvalStatus!=''">AND approval_status = #{approvalStatus}</if>
		<if test="startOrderTime != null and startOrderTime!=''">AND app.create_time &gt;= #{startOrderTime}</if>
		<if test="endOrderTime != null and endOrderTime!=''">AND app.create_time &lt;= #{endOrderTime}</if>
		<if test="startArrivTime != null and startArrivTime!=''">AND app.arrive_time &gt;= #{startArrivTime}</if>
		<if test="endArrivTime != null and endArrivTime!=''">AND app.arrive_time &lt;= #{endArrivTime}</if>
		<if test="selected == 1 and likeName!=null">AND app.user_name like concat(concat('%',#{likeName}),'%')
		</if>
		<if test="selected == 2 and likeName!=null">AND app.pname like concat(concat('%',#{likeName}),'%')
		</if>
		<if test="selected == 3 and likeName!=null">AND b.less_name like concat(concat('%',#{likeName}),'%')
		</if>
		<if test="selected == 0 and likeName!=null">
			AND app.user_name like concat(concat('%',#{likeName}),'%')
			or app.pname like concat(concat('%',#{likeName}),'%')
			or b.less_name
			like concat(concat('%',#{likeName}),'%')
		</if>
	</select>



	<select id="queryByOrderByUser" parameterType="HashMap"
		resultMap="BaseResultMap">
		SELECT * FROM tds_money_approval
		where user_id=#{userId}
		and
		approval_status='1'
		and pname_id=#{pnameId}
		and not ISNULL(arrive_time)
		and is_deleted='0'
		ORDER BY create_time DESC
	</select>


	<select id="isStatus" parameterType="HashMap" resultType="java.lang.String">
		SELECT
		approval_status FROM tds_money_approval
		where
		order_number=#{orderNumber}
		and user_id=#{userId}
		and is_deleted='0'
	</select>

	<update id="upApprovalStatus" parameterType="HashMap">
		UPDATE tds_money_approval set approval_status=#{approvalStatus}
		<if test="arriveTime != null">,arrive_time=#{arriveTime}</if>
		where id=#{id} and is_deleted='0'
	</update>


	<update id="upBilling" parameterType="HashMap">
		UPDATE tds_money_approval set billing=#{billing}
		where id=#{id} and is_deleted='0'
	</update>

</mapper>