<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dao.TdsModularMapper">

	<resultMap id="BaseResultMap" type="cn.entity.TdsModular">
		<result column="id" property="id"></result>
		<result column="name" property="name"></result>
		<result column="remarks" property="remarks"></result>
		<result column="parent_id" property="parentId"></result>
		<result column="create_time" property="createTime"></result>
		<result column="update_time" property="updateTime"></result>
		<result column="creater" property="creater"></result>
		<result column="updater" property="updater"></result>
		<result column="is_deleted" property="isDeleted"></result>
	</resultMap>

    
    <sql id="Base_Column_List">
     	ID,NAME,REMARKS,PARENT_ID,CREATE_TIME,UPDATE_TIME,
		CREATER,UPDATER,IS_DELETED
    </sql>
    
	<select id="loadById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT
	    <include refid="Base_Column_List"></include>
		FROM tds_modular
		WHERE
		ID=#{id}
	</select>

	<insert id="insert" parameterType="cn.entity.TdsModular">
		INSERT INTO tds_modular (
		<if test="name != null"> name , </if>
		<if test="remarks != null"> remarks , </if>
		<if test="parentId != null"> parent_id , </if>
		<if test="createTime != null"> create_time , </if>
		<if test="updateTime != null"> update_time , </if>
		<if test="creater != null"> creater , </if>
		<if test="updater != null"> updater , </if>
		<if test="isDeleted != null"> is_deleted , </if>
		) VALUES (
		<if test="name != null"> #{name} , </if>
		<if test="remarks != null"> #{remarks} , </if>
		<if test="parentId != null"> #{parentId} , </if>
		<if test="createTime != null"> #{createTime} , </if>
		<if test="updateTime != null"> #{updateTime} , </if>
		<if test="creater != null"> #{creater} , </if>
		<if test="updater != null"> #{updater} , </if>
		<if test="isDeleted != null"> #{isDeleted} , </if>
		)
	</insert>

	<delete id="deleteById" parameterType="java.lang.Integer">
		DELETE FROM tds_modular
		WHERE id=#{id}
	</delete>

	<update id="update" parameterType="cn.entity.TdsModular">
		UPDATE tds_modular
		<trim prefix="set" suffixOverrides=",">
			<if test="name != null"> NAME = #{name}, </if>
			<if test="remarks != null"> REMARKS = #{remarks}, </if>
			<if test="parentId != null"> PARENT_ID = #{parentId}, </if>
			<if test="createTime != null"> CREATE_TIME = #{createTime}, </if>
			<if test="updateTime != null"> UPDATE_TIME = #{updateTime}, </if>
			<if test="creater != null"> CREATER = #{creater}, </if>
			<if test="updater != null"> UPDATER = #{updater}, </if>
			<if test="isDeleted != null"> IS_DELETED = #{isDeleted}, </if>
		</trim>
		WHERE ID=#{id}
	</update>
</mapper>