<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dao.tds.TdsMoneyApprovalOutMapper">

	<select id="pageMoneyApprovalOut" parameterType="HashMap" resultType="main.java.cn.domain.tds.TdsApprovalOutDomain">
		select  tc.id,tu.user_name userName,tc.carry_serial carrySerial,
		        tc.carry_order carryOrder,tc.carry_type carryType,tc.carry_type_name carryTypeName,
		        tc.carr_money carrMoney,tc.carr_status carrStatus,tc.create_time createTime,
		        tc.update_time updateTime,tc.creater,tc.updater,tc.remarks
		from tds_carry tc
		INNER JOIN tds_user tu on tu.id = tc.user_id and tu.is_deleted = '0'
		where tc.is_deleted = '0' and tu.parent_user_id=#{parentUserId}
		<if test="carrStatus != null and carrStatus!=''">AND tc.carr_status = #{carrStatus}</if>
		<if test="flowStatus != null and flowStatus!=''">AND tc.carr_status = #{flowStatus}</if>
		<if test="startOrderTime != null and startOrderTime!=''">AND tc.create_time &gt;= #{startOrderTime}</if>
		<if test="endOrderTime != null and endOrderTime!=''">AND tc.create_time &lt;= #{endOrderTime}</if>
		<if test="startArrTime != null and startArrTime!=''">AND tc.update_time &gt;= #{startArrTime}</if>
		<if test="endArrTime != null and endArrTime!=''">AND tc.update_time &lt;= #{endArrTime}</if>
		<if test="likeName != null and likeName!=''">
			AND (tu.user_name like concat(concat('%',#{likeName}),'%')
			or tc.carry_type_name like concat(concat('%',#{likeName}),'%')
			or tc.carry_order like concat(concat('%',#{likeName}),'%'))
		</if>
		order by tc.create_time desc
		LIMIT #{pageNumber},#{numPerPage}		
	</select>



	<select id="queryCount" resultType="java.lang.Integer" parameterType="Hashmap">
		SELECT count(1) 
		from tds_carry tc
		INNER JOIN tds_user tu on tu.id = tc.user_id and tu.is_deleted = '0'
		where tc.is_deleted = '0' and tu.parent_user_id=#{parentUserId}
		<if test="carrStatus != null and carrStatus!=''">AND tc.carr_status = #{carrStatus}</if>
		<if test="flowStatus != null and flowStatus!=''">AND tc.carr_status = #{flowStatus}</if>
		<if test="startOrderTime != null and startOrderTime!=''">AND tc.create_time &gt;= #{startOrderTime}</if>
		<if test="endOrderTime != null and endOrderTime!=''">AND tc.create_time &lt;= #{endOrderTime}</if>
		<if test="startArrTime != null and startArrTime!=''">AND tc.update_time &gt;= #{startArrTime}</if>
		<if test="endArrTime != null and endArrTime!=''">AND tc.update_time &lt;= #{endArrTime}</if>
		<if test="likeName != null and likeName!=''">
			AND (tu.user_name like concat(concat('%',#{likeName}),'%')
			or tc.carry_type_name like concat(concat('%',#{likeName}),'%')
			or tc.carry_order like concat(concat('%',#{likeName}),'%'))
		</if>
	</select>

	<update id="upCarryStatus" parameterType="Hashmap">
		update tds_carry tc,tds_user_customer tu
		set tc.carr_status = #{carrStatus},tu.overplus_commission = tu.overplus_commission - tc.carr_money
		where tc.user_id = #{userId} and tc.id = #{tdsCarryId} and tc.user_id = tu.user_id 
		and tu.overplus_commission >=tc.carr_money
		and tc.is_deleted = '0' and tu.is_deleted = '0'
	</update>
	
	<update id="upCarryStatusRebut" parameterType="Hashmap">
		update tds_carry tc,tds_user_customer tu
		set tc.carr_status = #{carrStatus} ,tc.remarks = #{remarks}
		where tc.user_id = #{userId} and tc.id = #{tdsCarryId} and tc.user_id = tu.user_id 
		and tc.is_deleted = '0' and tu.is_deleted = '0'
	</update>
	
	<update id="upSerualStatus" parameterType="Hashmap">
		update tds_carry tc,tds_serual_info ts
		set ts.serial_status = #{carrStatus}
		where tc.user_id = #{userId} and tc.id = #{tdsCarryId} and tc.user_id = ts.user_id 
		and ts.order_number = tc.carry_order
		and tc.is_deleted = '0' and ts.is_deleted = '0'
	</update>
</mapper>