<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dao.tds.TdsMoneyApprovalBackMapper">

	<resultMap id="BaseResultMap" type="cn.entity.tds.TdsMoneyApprovalBack">
		<result column="id" property="id"></result>
		<result column="user_id" property="userId"></result>
		<result column="plus_number" property="plusNumber"></result>
		<result column="user_name" property="userName"></result>
		<result column="serial_number" property="serialNumber"></result>
		<result column="order_number" property="orderNumber"></result>
		<result column="serual_money" property="serualMoney"></result>
		<result column="back_number" property="backNumber"></result>
		<result column="back_money" property="backMoney"></result>
		<result column="back_number_commission" property="backNumberCommission"></result>
		<result column="approval_status" property="approvalStatus"></result>
		<result column="is_deleted" property="isDeleted"></result>
		<result column="back_remarks" property="backRemarks"></result>
		<result column="create_time" property="createTime"></result>
		<result column="update_time" property="updateTime"></result>
		<result column="creater" property="creater"></result>
		<result column="updater" property="updater"></result>
		<result column="back_pname" property="backPname"></result>
		<result column="remarks1" property="remarks1"></result>
	</resultMap>

	<sql id="Base_Column_List">
		id,
		user_id,
		plus_number,
		user_name,
		serial_number,
		order_number,
		serual_money,
		back_number,
		back_money,
		back_number_commission,
		approval_status,
		is_deleted,
		back_remarks,
		create_time,
		update_time,
		creater,
		updater,
		back_pname,
		remarks1
	</sql>

	<select id="loadById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_money_approval_back
		WHERE
		id=#{id} AND IS_DELETED='0'

	</select>

	<select id="selectAll" resultMap="BaseResultMap"
		parameterType="cn.entity.tds.TdsMoneyApprovalBack">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_money_approval_back
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="userId != null">and user_id = #{userId}</if>
			<if test="plusNumber != null">and plus_number = #{plusNumber}</if>
			<if test="userName != null">and user_name = #{userName}</if>
			<if test="serialNumber != null">and serial_number = #{serialNumber}</if>
			<if test="orderNumber != null">and order_number = #{orderNumber}</if>
			<if test="serualMoney != null">and serual_money = #{serualMoney}</if>
			<if test="backNumber != null">and back_number = #{backNumber}</if>
			<if test="backMoney != null">and back_money = #{backMoney}</if>
			<if test="backNumberCommission != null">and back_number_commission = #{backNumberCommission}</if>
			<if test="approvalStatus != null">and approval_status = #{approvalStatus}</if>
			<if test="backRemarks != null">and back_remarks = #{backRemarks}</if>
			<if test="createTime != null">and create_time = #{createTime}</if>
			<if test="updateTime != null">and update_time = #{updateTime}</if>
			<if test="creater != null">and creater = #{creater}</if>
			<if test="updater != null">and updater = #{updater}</if>
			<if test="backPname != null">and back_pname = #{backPname}</if>
			<if test="remarks1 != null">and remarks1 = #{remarks1}</if>
			and is_deleted ='0'
		</where>
	</select>

	<insert id="save" parameterType="cn.entity.tds.TdsMoneyApprovalBack">
		INSERT INTO tds_money_approval_back
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null"> user_id , </if>
			<if test="plusNumber != null"> plus_number , </if>
			<if test="userName != null"> user_name , </if>
			<if test="serialNumber != null"> serial_number , </if>
			<if test="orderNumber != null"> order_number , </if>
			<if test="serualMoney != null"> serual_money , </if>
			<if test="backNumber != null"> back_number , </if>
			<if test="backMoney != null"> back_money , </if>
			<if test="backNumberCommission != null"> back_number_commission , </if>
			<if test="approvalStatus != null"> approval_status , </if>
			<if test="backRemarks != null"> back_remarks , </if>
			<if test="createTime != null"> create_time , </if>
			<if test="updateTime != null"> update_time , </if>
			<if test="creater != null"> creater , </if>
			<if test="updater != null"> updater , </if>
			<if test="backPname != null"> back_pname , </if>
			<if test="remarks1 != null"> remarks1 , </if>
			 is_deleted,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null"> #{userId} , </if>
			<if test="plusNumber != null"> #{plusNumber} , </if>
			<if test="userName != null"> #{userName} , </if>
			<if test="serialNumber != null"> #{serialNumber} , </if>
			<if test="orderNumber != null"> #{orderNumber} , </if>
			<if test="serualMoney != null"> #{serualMoney} , </if>
			<if test="backNumber != null"> #{backNumber} , </if>
			<if test="backMoney != null"> #{backMoney} , </if>
			<if test="backNumberCommission != null"> #{backNumberCommission} , </if>
			<if test="approvalStatus != null"> #{approvalStatus} , </if>
			<if test="backRemarks != null"> #{backRemarks} , </if>
			<if test="createTime != null"> #{createTime} , </if>
			<if test="updateTime != null"> #{updateTime} , </if>
			<if test="creater != null"> #{creater} , </if>
			<if test="updater != null"> #{updater} , </if>
			<if test="backPname != null"> #{backPname} , </if>
			<if test="remarks1 != null"> #{remarks1} , </if>
			'0', 
		</trim>

	</insert>


	<update id="deleteById" parameterType="java.lang.Integer">
		UPDATE tds_money_approval_back SET IS_DELETED='1'
		WHERE id=#{id}
	</update>



	<update id="update" parameterType="cn.entity.tds.TdsMoneyApprovalBack">
		UPDATE tds_money_approval_back
		<trim prefix="set" suffixOverrides=",">
			<if test="userId != null"> user_id = #{userId}, </if>
			<if test="plusNumber != null"> plus_number = #{plusNumber}, </if>
			<if test="userName != null"> user_name = #{userName}, </if>
			<if test="serialNumber != null"> serial_number = #{serialNumber}, </if>
			<if test="orderNumber != null"> order_number = #{orderNumber}, </if>
			<if test="serualMoney != null"> serual_money = #{serualMoney}, </if>
			<if test="backNumber != null"> back_number = #{backNumber}, </if>
			<if test="backMoney != null"> back_money = #{backMoney}, </if>
			<if test="backNumberCommission != null"> back_number_commission = #{backNumberCommission}, </if>
			<if test="approvalStatus != null"> approval_status = #{approvalStatus}, </if>
			<if test="backRemarks != null"> back_remarks = #{backRemarks}, </if>
			<if test="createTime != null"> create_time = #{createTime}, </if>
			<if test="updateTime != null"> update_time = #{updateTime}, </if>
			<if test="creater != null"> creater = #{creater}, </if>
			<if test="updater != null"> updater = #{updater}, </if>
			<if test="backPname != null"> back_pname = #{backPname}, </if>
			<if test="remarks1 != null"> remarks1 = #{remarks1}, </if>
		</trim>
		WHERE id=#{id} and is_deleted='0'
	</update>
	
	
	
	<select id="pageApprovalBack" parameterType="HashMap" resultMap="BaseResultMap">
		SELECT * FROM tds_money_approval_back
		WHERE is_deleted='0'
		    <if test="approvalStatus != null and approvalStatus!=''">AND approval_status = #{approvalStatus}</if>
	        <if test="startOrderTime != null and startOrderTime!=''">AND create_time &gt;= #{startOrderTime}</if>
			<if test="endOrderTime != null and endOrderTime!=''">AND create_time &lt;= #{endOrderTime}</if>
			<if test="selected == 1 and likeName!=null">AND user_name like concat(concat('%',#{likeName}),'%')</if>
			<if test="selected == 2 and likeName!=null">AND back_pname like concat(concat('%',#{likeName}),'%')</if>
			<if test="selected == 3 and likeName!=null">AND id like concat(concat('%',#{likeName}),'%')</if>
			<if test="selected == 4 and likeName!=null">AND order_number like concat(concat('%',#{likeName}),'%')</if>
			<if test="selected == 0 and likeName!=null">
				AND user_name like concat(concat('%',#{likeName}),'%')
				or back_pname like concat(concat('%',#{likeName}),'%')
				or id like concat(concat('%',#{likeName}),'%')
				or order_number like concat(concat('%',#{likeName}),'%')
			</if> 
		   order by create_time desc 
		   LIMIT #{pageNumber},#{numPerPage}
	</select>



	<select id="queryCount" resultType="java.lang.Integer"
		parameterType="Hashmap">
		SELECT count(1) FROM tds_money_approval_back 
		<where>
		    <if test="approvalStatus != null and approvalStatus!=''">AND approval_status = #{approvalStatus}</if>
	        <if test="startOrderTime != null and startOrderTime!=''">AND create_time &gt;= #{startOrderTime}</if>
			<if test="endOrderTime != null and endOrderTime!=''">AND create_time &lt;= #{endOrderTime}</if>
			<if test="selected == 1 and likeName!=null">AND user_name like concat(concat('%',#{likeName}),'%')</if>
			<if test="selected == 2 and likeName!=null">AND back_pname like concat(concat('%',#{likeName}),'%')</if>
			<if test="selected == 3 and likeName!=null">AND id like concat(concat('%',#{likeName}),'%')</if>
			<if test="selected == 4 and likeName!=null">AND order_number like concat(concat('%',#{likeName}),'%')</if>
			<if test="selected == 0 and likeName!=null">
				AND user_name like concat(concat('%',#{likeName}),'%')
				or back_pname like concat(concat('%',#{likeName}),'%')
				or id like concat(concat('%',#{likeName}),'%')
				or order_number like concat(concat('%',#{likeName}),'%')
			</if> 
			and is_deleted='0'
		</where>
	</select>
	
	
</mapper>