<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dao.tds.TdsProductMoneyMapper">

	<resultMap id="BaseResultMap" type="cn.entity.tds.TdsProductMoney">
		<result column="id" property="id"></result>
		<result column="product_id" property="productId"></result>
		<result column="start_money" property="startMoney"></result>
		<result column="number_money" property="numberMoney"></result>
		<result column="create_time" property="createTime"></result>
		<result column="update_time" property="updateTime"></result>
		<result column="creater" property="creater"></result>
		<result column="updater" property="updater"></result>
		<result column="is_deleted" property="isDeleted"></result>
		<result column="remarks" property="remarks"></result>
		<result column="spare1" property="spare1"></result>
		<result column="spare2" property="spare2"></result>
	</resultMap>

	<sql id="Base_Column_List">
		id,
		product_id,
		start_money,
		number_money,
		create_time,
		update_time,
		creater,
		updater,
		is_deleted,
		remarks,
		spare1,
		spare2
	</sql>

	<select id="loadById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_product_money
		WHERE
		id=#{id} AND IS_DELETED='0'

	</select>

	<select id="selectAll" resultMap="BaseResultMap" parameterType="cn.entity.tds.TdsProductMoney">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_product_money
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="productId != null">and product_id = #{productId}</if>
			<if test="startMoney != null">and start_money = #{startMoney}</if>
			<if test="numberMoney != null">and number_money = #{numberMoney}</if>
			<if test="createTime != null">and create_time = #{createTime}</if>
			<if test="updateTime != null">and update_time = #{updateTime}</if>
			<if test="creater != null">and creater = #{creater}</if>
			<if test="updater != null">and updater = #{updater}</if>
			<if test="remarks != null">and remarks = #{remarks}</if>
			<if test="spare1 != null">and spare1 = #{spare1}</if>
			<if test="spare2 != null">and spare2 = #{spare2}</if>
			and is_deleted ='0'
		</where>
	</select>

	<insert id="save" parameterType="cn.entity.tds.TdsProductMoney">
		INSERT INTO tds_product_money
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="productId != null"> product_id , </if>
			<if test="startMoney != null"> start_money , </if>
			<if test="numberMoney != null"> number_money , </if>
			<if test="createTime != null"> create_time , </if>
			<if test="updateTime != null"> update_time , </if>
			<if test="creater != null"> creater , </if>
			<if test="updater != null"> updater , </if>
			<if test="remarks != null"> remarks , </if>
			<if test="spare1 != null"> spare1 , </if>
			<if test="spare2 != null"> spare2 , </if>
			is_deleted , 
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="productId != null"> #{productId} , </if>
			<if test="startMoney != null"> #{startMoney} , </if>
			<if test="numberMoney != null"> #{numberMoney} , </if>
			<if test="createTime != null"> #{createTime} , </if>
			<if test="updateTime != null"> #{updateTime} , </if>
			<if test="creater != null"> #{creater} , </if>
			<if test="updater != null"> #{updater} , </if>
			<if test="remarks != null"> #{remarks} , </if>
			<if test="spare1 != null"> #{spare1} , </if>
			<if test="spare2 != null"> #{spare2} , </if>
			'0',
		</trim>

	</insert>


	<update id="deleteById" parameterType="java.lang.Integer">
		UPDATE tds_product_money SET IS_DELETED='1'
		WHERE id=#{id}
	</update>



	<update id="update" parameterType="cn.entity.tds.TdsProductMoney">
		UPDATE tds_product_money
		<trim prefix="set" suffixOverrides=",">
			<if test="productId != null"> product_id = #{productId}, </if>
			<if test="startMoney != null"> start_money = #{startMoney}, </if>
			<if test="numberMoney != null"> number_money = #{numberMoney}, </if>
			<if test="createTime != null"> create_time = #{createTime}, </if>
			<if test="updateTime != null"> update_time = #{updateTime}, </if>
			<if test="creater != null"> creater = #{creater}, </if>
			<if test="updater != null"> updater = #{updater}, </if>
		<!-- 	<if test="isDeleted != null"> is_deleted = #{isDeleted}, </if> -->
			<if test="remarks != null"> remarks = #{remarks}, </if>
			<if test="spare1 != null"> spare1 = #{spare1}, </if>
			<if test="spare2 != null"> spare2 = #{spare2}, </if>
		</trim>
		WHERE id=#{id} and is_deleted='0'
	</update>
	
	
	
	
	<select id="queryPnameByPro" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	    SELECT * FROM tds_product_money
		where product_id=#{pnameId}
		and is_deleted='0'
		ORDER BY create_time 
	</select>
	
	
</mapper>