<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dao.tds.TdsRoleMapper">

	<resultMap id="BaseResultMap" type="cn.entity.tds.TdsRole">
		<result column="id" property="id"></result>
		<result column="role_name" property="roleName"></result>
		<result column="create_time" property="createTime"></result>
		<result column="update_time" property="updateTime"></result>
		<result column="creater" property="creater"></result>
		<result column="updater" property="updater"></result>
		<result column="is_deleted" property="isDeleted"></result>
		<result column="is_default" property="isDefault"></result>

	</resultMap>

	<sql id="Base_Column_List">
		ID,
		ROLE_NAME,
		CREATE_TIME,
		UPDATE_TIME,
		CREATER,
		UPDATER,
		IS_DELETED,
		IS_DEFAULT
	</sql>

	<select id="loadById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_role
		WHERE
		ID=#{id}
		AND IS_DELETED='0'
	</select>


	<select id="selectAll" resultMap="BaseResultMap" parameterType="cn.entity.tds.TdsRole">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_role
		<where>
			<if test="id != null"> AND ID=#{id}</if>
			<if test="roleName != null"> AND ROLE_NAME=#{roleName}</if>
			<if test="createTime != null">AND CREATE_TIME=#{createTime}</if>
			<if test="updateTime != null">AND UPDATE_TIME=#{updateTime}</if>
			<if test="creater != null">AND CREATER=#{creater}</if>
			<if test="updater != null">AND UPDATER=#{updater}</if>
			<if test="isDefault != null">AND IS_DEFAULT=#{isDefault}</if>
			AND IS_DELETED='0'
		</where>
	</select>


	<!-- IS_DEFAULT 角色状态 0:默认角色 1：自定义角色 -->
	<!-- IS_DELETED 删除状态：0正常，1已删除 -->
	<insert id="save" parameterType="cn.entity.tds.TdsRole" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tds_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleName != null"> ROLE_NAME , </if>
			<if test="createTime != null"> CREATE_TIME , </if>
			<if test="updateTime != null"> UPDATE_TIME , </if>
			<if test="creater != null"> CREATER , </if>
			<if test="updater != null"> UPDATER , </if>
			IS_DEFAULT,
			IS_DELETED
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roleName != null"> #{roleName} , </if>
			<if test="createTime != null"> #{createTime} , </if>
			<if test="updateTime != null"> #{updateTime} , </if>
			<if test="creater != null"> #{creater} , </if>
			<if test="updater != null"> #{updater} , </if>
			'1',
			'0'
		</trim>
	</insert>


	<update id="deleteById" parameterType="java.lang.Integer">
		UPDATE tds_role SET IS_DELETED=1
		WHERE ID=#{id}
	</update>


	<update id="update" parameterType="cn.entity.tds.TdsRole">
		UPDATE tds_role
		<trim prefix="set" suffixOverrides=",">
			<if test="roleName != null"> ROLE_NAME = #{roleName}, </if>
			<if test="createTime != null"> CREATE_TIME = #{createTime}, </if>
			<if test="updateTime != null"> UPDATE_TIME = #{updateTime}, </if>
			<if test="creater != null"> CREATER = #{creater}, </if>
			<if test="updater != null"> UPDATER = #{updater}, </if>
			<if test="isDeleted != null"> IS_DEFAULT = #{isDefault},</if>
		</trim>
		WHERE ID=#{id} AND IS_DELETED='0'
	</update>
	
	
	
	<select id="pageByRole" resultMap="BaseResultMap"  parameterType="HashMap">
		SELECT * FROM tds_role
		where is_deleted='0'
		<if test="roleName!=null and roleName!=''">
			and role_name like concat(concat('%',#{roleName}),'%')
		</if>
		LIMIT #{pageNumber},#{numPerPage}
	</select>
	

    <select id="queryCount" resultType="java.lang.Integer" parameterType="HashMap">
		SELECT count(1) FROM tds_role
		where is_deleted='0'
		<if test="roleName!=null and roleName!=''">
			and role_name like concat(concat('%',#{roleName}),'%')
		</if>
	</select>
	
	
</mapper>