<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dao.tds.TdsSerualInfoMapper">

	<resultMap id="BaseResultMap" type="cn.entity.tds.TdsSerualInfo">
		<result column="id" property="id"></result>
		<result column="serial_number" property="serialNumber"></result>
		<result column="order_number" property="orderNumber"></result>
		<result column="serial_type" property="serialType"></result>
		<result column="user_id" property="userId"></result>
		<result column="serial_money" property="serialMoney"></result>
		<result column="before_money" property="beforeMoney"></result>
		<result column="serial_status" property="serialStatus"></result>
		<result column="is_deleted" property="isDeleted"></result>
		<result column="create_time" property="createTime"></result>
		<result column="creater" property="creater"></result>
		<result column="update_time" property="updateTime"></result>
		<result column="updater" property="updater"></result>
	</resultMap>

	<sql id="Base_Column_List">
		id,
		serial_number,
		order_number,
		serial_type,
		user_id,
		serial_money,
		before_money,
		serial_status,
		is_deleted,
		create_time,
		creater,
		update_time,
		updater
	</sql>

	<select id="loadById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_serual_info
		WHERE
		id=#{id} AND IS_DELETED='0'

	</select>

	<select id="selectAll" resultMap="BaseResultMap" parameterType="cn.entity.tds.TdsSerualInfo">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_serual_info
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="serialNumber != null">and serial_number = #{serialNumber}</if>
			<if test="orderNumber != null">and order_number = #{orderNumber}</if>
			<if test="serialType != null">and serial_type = #{serialType}</if>
			<if test="userId != null">and user_id = #{userId}</if>
			<if test="serialMoney != null">and serial_money = #{serialMoney}</if>
			<if test="beforeMoney != null">and before_money = #{beforeMoney}</if>
			<if test="serialStatus != null">and serial_status = #{serialStatus}</if>
			<if test="createTime != null">and create_time = #{createTime}</if>
			<if test="creater != null">and creater = #{creater}</if>
			<if test="updateTime != null">and update_time = #{updateTime}</if>
			<if test="updater != null">and updater = #{updater}</if>
			and is_deleted ='0'
		</where>
	</select>

	<insert id="save" parameterType="cn.entity.tds.TdsSerualInfo">
		INSERT INTO tds_serual_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="serialNumber != null"> serial_number , </if>
			<if test="orderNumber != null"> order_number , </if>
			<if test="serialType != null"> serial_type , </if>
			<if test="userId != null"> user_id , </if>
			<if test="serialMoney != null"> serial_money , </if>
			<if test="beforeMoney != null"> before_money , </if>
			<if test="serialStatus != null"> serial_status , </if>
			<if test="createTime != null"> create_time , </if>
			<if test="creater != null"> creater , </if>
			<if test="updateTime != null"> update_time , </if>
			<if test="updater != null"> updater , </if>
			is_deleted ,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="serialNumber != null"> #{serialNumber} , </if>
			<if test="orderNumber != null"> #{orderNumber} , </if>
			<if test="serialType != null"> #{serialType} , </if>
			<if test="userId != null"> #{userId} , </if>
			<if test="serialMoney != null"> #{serialMoney} , </if>
			<if test="beforeMoney != null"> #{beforeMoney} , </if>
			<if test="serialStatus != null"> #{serialStatus} , </if>
			<if test="createTime != null"> #{createTime} , </if>
			<if test="creater != null"> #{creater} , </if>
			<if test="updateTime != null"> #{updateTime} , </if>
			<if test="updater != null"> #{updater} , </if>
			 '0', 
		</trim>

	</insert>


	<update id="deleteById" parameterType="java.lang.Integer">
		UPDATE tds_serual_info SET IS_DELETED='1'
		WHERE id=#{id}
	</update>



	<update id="update" parameterType="cn.entity.tds.TdsSerualInfo">
		UPDATE tds_serual_info
		<trim prefix="set" suffixOverrides=",">
			<if test="serialNumber != null"> serial_number = #{serialNumber}, </if>
			<if test="orderNumber != null"> order_number = #{orderNumber}, </if>
			<if test="serialType != null"> serial_type = #{serialType}, </if>
			<if test="userId != null"> user_id = #{userId}, </if>
			<if test="serialMoney != null"> serial_money = #{serialMoney}, </if>
			<if test="beforeMoney != null"> before_money = #{beforeMoney}, </if>
			<if test="serialStatus != null"> serial_status = #{serialStatus}, </if>
			<if test="isDeleted != null"> is_deleted = #{isDeleted}, </if>
			<if test="createTime != null"> create_time = #{createTime}, </if>
			<if test="creater != null"> creater = #{creater}, </if>
			<if test="updateTime != null"> update_time = #{updateTime}, </if>
			<if test="updater != null"> updater = #{updater}, </if>
		</trim>
		WHERE id=#{id}
	</update>
	
	
	
	<select id="pageTdsSerualInfo"  parameterType="HashMap" resultMap="BaseResultMap">
	    SELECT
		<include refid="Base_Column_List" />
		FROM tds_serual_info
		<where>
	     	<if test="serialType != null and serialType!=''">AND serial_type = #{serialType}</if>
			<if test="serialStatus != null and serialStatus!=''">AND serialStatus = #{serialStatus}</if>
			<if test="statTime != null and statTime!=''">AND create_time &gt;= #{statTime}</if>
			<if test="endTime != null and endTime!=''">AND  create_time &lt;= #{endTime}</if>
			AND is_deleted ='0'  order by create_time desc
		</where>
		LIMIT #{pageNumber},#{numPerPage}
	</select>
	
	
	<select id="queryCount" parameterType="HashMap" resultType="java.lang.Integer">
	  SELECT count(1)  FROM tds_serual_info
		<where>
	     	<if test="serialType != null and serialType!=''">AND serial_type = #{serialType}</if>
			<if test="serialStatus != null and serialStatus!=''">AND serialStatus = #{serialStatus}</if>
			<if test="statTime != null and statTime!=''">AND create_time &gt;= #{statTime}</if>
			<if test="endTime != null and endTime!='' ">AND  create_time &lt;= #{endTime}</if>
			AND is_deleted ='0'
		</where>
	</select>
</mapper>