<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dao.tds.TdsUserMapper">

	<resultMap id="BaseResultMap" type="cn.entity.tds.TdsUser">
		<result column="id" property="id"></result>
		<result column="com_id" property="comId"></result>
		<result column="name" property="name"></result>
		<result column="contact" property="contact"></result>
		<result column="phone" property="phone"></result>
		<result column="password" property="password"></result>
		<result column="invitedcode" property="invitedcode"></result>
		<result column="remarks" property="remarks"></result>
		<result column="creater" property="creater"></result>
		<result column="updater" property="updater"></result>
		<result column="is_deleted" property="isDeleted"></result>
		<result column="update_time" property="updateTime"></result>
		<result column="create_time" property="createTime"></result>
		<result column="token" property="token"></result>
		<result column="login_ip" property="loginIp"></result>
		<result column="last_login_time" property="lastLoginTime"></result>
		<result column="version" property="version"></result>
		<result column="hedehref" property="hedehref"></result>
		<result column="source" property="source"></result>
		<result column="status" property="status"></result>
		<result column="register_source" property="registerSource"></result>
	</resultMap>


	<sql id="Base_Column_List">
		ID,
		COM_ID,
		NAME,
		CONTACT,
		PHONE,
		PASSWORD,
		INVITEDCODE,
		REMARKS,
		CREATER,
		UPDATER,
		IS_DELETED,
		UPDATE_TIME,
		CREATE_TIME,
		TOKEN,
		LOGIN_IP,
		LAST_LOGIN_TIME,
		VERSION,
		HEDEHREF,
		SOURCE,
		STATUS,
		REGISTER_SOURCE
	</sql>

	<select id="loadById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_user
		WHERE
		ID=#{id}
		AND IS_DELETED=0
	</select>


	<select id="loadByPhone" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_user
		WHERE
		PHONE=#{phone}
		AND IS_DELETED='0'
	</select>



	<select id="selectAll" resultMap="BaseResultMap" parameterType="cn.entity.tds.TdsUser">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_user
		<where>
			<if test="id != null">AND ID = #{id}</if>
			<if test="name != null">AND NAME = #{name}</if>
			<if test="comId != null">and com_id = #{comId}</if>
			<if test="contact != null">AND CONTACT = #{contact}</if>
			<if test="phone != null">AND PHONE = #{phone}</if>
			<if test="password != null">AND PASSWORD = #{password}</if>
			<if test="invitedcode != null">AND INVITEDCODE = #{invitedcode}</if>
			<if test="remarks != null">AND REMARKS = #{remarks}</if>
			<if test="creater != null">AND CREATER = #{creater}</if>
			<if test="updater != null">AND UPDATER = #{updater}</if>
			<if test="updateTime != null">AND UPDATE_TIME = #{updateTime}</if>
			<if test="createTime != null">AND CREATE_TIME = #{createTime}</if>
			<if test="token != null">AND TOKEN = #{token}</if>
			<if test="loginIp != null">AND LOGIN_IP = #{loginIp}</if>
			<if test="lastLoginTime != null">AND LAST_LOGIN_TIME = #{lastLoginTime}</if>
			<if test="version != null">AND VERSION = #{version}</if>
			<if test="hedehref != null">AND HEDEHREF = #{hedehref}</if>
			<if test="source != null">AND SOURCE = #{source}</if>
			<if test="status != null">and status = #{status}</if>
		    <if test="registerSource != null">and register_source = #{registerSource}</if>
			AND IS_DELETED='0'
		</where>
	</select>

	<insert id="save" parameterType="cn.entity.tds.TdsUser">
		INSERT INTO tds_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null"> NAME , </if>
		    <if test="comId != null"> com_id , </if>
			<if test="contact != null"> CONTACT , </if>
			<if test="phone != null"> PHONE , </if>
			<if test="password != null"> PASSWORD , </if>
			<if test="invitedcode != null"> INVITEDCODE , </if>
			<if test="remarks != null"> REMARKS , </if>
			<if test="creater != null"> CREATER , </if>
			<if test="updater != null"> UPDATER , </if>
			<if test="updateTime != null"> UPDATE_TIME , </if>
			<if test="createTime != null"> CREATE_TIME , </if>
			<if test="token != null"> TOKEN , </if>
			<if test="loginIp != null"> LOGIN_IP , </if>
			<if test="lastLoginTime != null"> LAST_LOGIN_TIME , </if>
			<if test="version != null"> VERSION , </if>
			<if test="hedehref != null"> HEDEHREF , </if>
			<if test="source != null"> SOURCE , </if>
			<if test="registerSource != null"> REGISTER_SOURCE , </if>
			STATUS,
			IS_DELETED
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null"> #{name} , </if>
			<if test="comId != null"> #{comId} , </if>
			<if test="contact != null"> #{contact} , </if>
			<if test="phone != null"> #{phone} , </if>
			<if test="password != null"> #{password} , </if>
			<if test="invitedcode != null"> #{invitedcode} , </if>
			<if test="remarks != null"> #{remarks} , </if>
			<if test="creater != null"> #{creater} , </if>
			<if test="updater != null"> #{updater} , </if>
			<if test="updateTime != null"> #{updateTime} , </if>
			<if test="createTime != null"> #{createTime} , </if>
			<if test="token != null"> #{token} , </if>
			<if test="loginIp != null"> #{loginIp} , </if>
			<if test="lastLoginTime != null"> #{lastLoginTime} , </if>
			<if test="version != null"> #{version} , </if>
			<if test="hedehref != null"> #{hedehref} , </if>
			<if test="source != null"> #{source} , </if>
			<if test="registerSource != null"> #{registerSource} , </if>
			'0',
			'0'
		</trim>

	</insert>

	<update id="deleteById" parameterType="java.lang.Integer">
		UPDATE tds_user SET
		IS_DELETED=1
		WHERE ID=#{id}
	</update>



	<update id="update" parameterType="cn.entity.tds.TdsUser">
		UPDATE tds_user
		<trim prefix="set" suffixOverrides=",">
			<if test="name != null"> name = #{name}, </if>
		    <if test="comId != null"> COM_ID = #{comId}, </if>
			<if test="contact != null"> CONTACT = #{contact}, </if>
			<if test="phone != null"> PHONE = #{phone}, </if>
			<if test="password != null"> PASSWORD = #{password}, </if>
			<if test="invitedcode != null"> INVITEDCODE = #{invitedcode}, </if>
			<if test="remarks != null"> REMARKS = #{remarks}, </if>
			<if test="creater != null"> CREATER = #{creater}, </if>
			<if test="updater != null"> UPDATER = #{updater}, </if>
			<if test="isDeleted != null"> IS_DELETED = #{isDeleted}, </if>
			<if test="updateTime != null"> UPDATE_TIME = #{updateTime}, </if>
			<if test="createTime != null"> CREATE_TIME = #{createTime}, </if>
			<if test="token != null"> TOKEN = #{token}, </if>
			<if test="loginIp != null"> LOGIN_IP = #{loginIp}, </if>
			<if test="lastLoginTime != null"> LAST_LOGIN_TIME = #{lastLoginTime}, </if>
			<if test="version != null"> VERSION = #{version}, </if>
			<if test="hedehref != null"> HEDEHREF = #{hedehref},</if>
			<if test="source != null"> SOURCE = #{source},</if>
			<if test="status != null"> STATUS = #{status},</if>
			<if test="registerSource != null"> REGISTER_SOURCE = #{registerSource}, </if>
		</trim>
		WHERE id=#{id}
	</update>



	<update id="updateStatus" parameterType="cn.entity.tds.TdsUser">
		UPDATE tds_user
		<trim prefix="set" suffixOverrides=",">
			<if test="updater != null"> UPDATER = #{updater}, </if>
			<if test="isDeleted != null"> IS_DELETED = #{isDeleted}, </if>
			<if test="loginIp != null"> LOGIN_IP = #{loginIp}, </if>
			<if test="updateTime != null"> UPDATE_TIME = #{updateTime},</if>
			<if test="status != null"> STATUS = #{status},</if>
		</trim>
		WHERE id=#{id}
	</update>

	<select id="pageSelectAll" resultMap="BaseResultMap"
		parameterType="Hashmap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_user
	    where IS_DELETED ='0' ORDER BY ID DESC
		LIMIT #{pageNumber},#{numPerPage}
	</select>


	<select id="quertCount" resultType="java.lang.Integer"
		parameterType="cn.entity.tds.TdsUser">
		SELECT count(1) FROM tds_user
		where IS_DELETED =0 ORDER
		BY ID DESC

	</select>

	<select id="login" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_user
		where name=#{name}
		and password=#{password}
		and is_deleted='0'
	</select>

	<select id="isUserName" resultType="java.lang.Integer"
		parameterType="java.lang.String">
		SELECT COUNT(NAME)
		FROM tds_user
		where name=#{name}
		and is_deleted='0'
	</select>

     
     <insert id="addBackAdminiUser"  parameterType="HashMap" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO tds_user
      <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null"> name ,</if>
		    <if test="comId != null"> com_id , </if>
			<if test="phone != null"> PHONE , </if>
			<if test="password != null"> PASSWORD , </if>
			<if test="creater != null"> CREATER , </if>
			<if test="updater != null"> UPDATER , </if>
			<if test="updateTime != null"> UPDATE_TIME , </if>
			<if test="createTime != null"> CREATE_TIME , </if>
			<if test="hedehref != null"> HEDEHREF , </if>
			<if test="source != null"> SOURCE , </if>
			<if test="registerSource != null"> REGISTER_SOURCE , </if>
			STATUS,
			IS_DELETED
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null"> #{name} , </if>
			<if test="comId != null"> #{comId} , </if>
			<if test="phone != null"> #{phone} , </if>
			<if test="password != null"> #{password} , </if>
			<if test="creater != null"> #{creater} , </if>
			<if test="updater != null"> #{updater} , </if>
			<if test="updateTime != null"> #{updateTime} , </if>
			<if test="createTime != null"> #{createTime} , </if>
			<if test="hedehref != null"> #{hedehref} , </if>
			<if test="source != null"> #{source} , </if>
			<if test="registerSource != null"> #{registerSource} ,</if>
			'0',
			'0'
		</trim>
   </insert>



</mapper>