<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dao.tds.TdsUserDepartmentMapper">

	<resultMap id="BaseResultMap" type="cn.entity.tds.TdsUserDepartment">
		<result column="id" property="id"></result>
		<result column="user_id" property="userId"></result>
		<result column="depart_id" property="departId"></result>
		<result column="remarks" property="remarks"></result>
		<result column="create_time" property="createTime"></result>
		<result column="update_time" property="updateTime"></result>
		<result column="creater" property="creater"></result>
		<result column="updater" property="updater"></result>
		<result column="is_deleted" property="isDeleted"></result>
		 <result column="position_id" property="positionId"></result>
	</resultMap>

	<sql id="Base_Column_List">
		id,
		user_id,
		depart_id,
		remarks,
		create_time,
		update_time,
		creater,
		updater,
		is_deleted,
		position_id
	</sql>

	<select id="loadById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_user_department
		WHERE
		id=#{id} AND IS_DELETED='0'

	</select>

	<select id="selectAll" resultMap="BaseResultMap"
		parameterType="cn.entity.tds.TdsUserDepartment">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_user_department
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="userId != null">and user_id = #{userId}</if>
			<if test="departId != null">and depart_id = #{departId}</if>
			<if test="remarks != null">and remarks = #{remarks}</if>
			<if test="createTime != null">and create_time = #{createTime}</if>
			<if test="updateTime != null">and update_time = #{updateTime}</if>
			<if test="creater != null">and creater = #{creater}</if>
			<if test="updater != null">and updater = #{updater}</if>
			<if test="positionId != null">and position_id = #{positionId}</if>
			and is_deleted ='0'
		</where>
	</select>

	<insert id="save" parameterType="cn.entity.tds.TdsUserDepartment">
		INSERT INTO tds_user_department
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null"> user_id , </if>
			<if test="departId != null"> depart_id , </if>
			<if test="positionId != null"> position_id , </if>
			<if test="remarks != null"> remarks , </if>
			<if test="createTime != null"> create_time , </if>
			<if test="updateTime != null"> update_time , </if>
			<if test="creater != null"> creater , </if>
			<if test="updater != null"> updater , </if>
			is_deleted 
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null"> #{userId} , </if>
			<if test="departId != null"> #{departId} , </if>
			<if test="positionId != null"> #{positionId} ,</if>
			<if test="remarks != null"> #{remarks} , </if>
			<if test="createTime != null"> #{createTime} , </if>
			<if test="updateTime != null"> #{updateTime} , </if>
			<if test="creater != null"> #{creater} , </if>
			<if test="updater != null"> #{updater} , </if>
			'0'
		</trim>

	</insert>


	<update id="deleteById" parameterType="java.lang.Integer">
		UPDATE tds_usre_department SET IS_DELETED='1'
		WHERE ID={#id}
	</update>



	<update id="update" parameterType="cn.entity.tds.TdsUserDepartment">
		UPDATE tds_user_department
		<trim prefix="set" suffixOverrides=",">
			<if test="userId != null"> user_id = #{userId}, </if>
			<if test="departId != null"> depart_id = #{departId}, </if>
			<if test="positionId != null"> position_id = #{positionId}, </if>
			<if test="remarks != null"> remarks = #{remarks}, </if>
			<if test="createTime != null"> create_time = #{createTime}, </if>
			<if test="updateTime != null"> update_time = #{updateTime}, </if>
			<if test="creater != null"> creater = #{creater}, </if>
			<if test="updater != null"> updater = #{updater}, </if>
			<if test="isDeleted != null"> is_deleted = #{isDeleted}, </if>
		</trim>
		WHERE id=#{id}
	</update>
	
	
	<update id="updateByUserId" parameterType="HashMap">
	   UPDATE tds_user_department
		<trim prefix="set" suffixOverrides=",">
			<if test="departId != null"> depart_id = #{departId}, </if>
			<if test="positionId != null"> position_id = #{positionId}, </if>
			<if test="remarks != null"> remarks = #{remarks}, </if>
			<if test="createTime != null"> create_time = #{createTime}, </if>
			<if test="updateTime != null"> update_time = #{updateTime}, </if>
			<if test="creater != null"> creater = #{creater}, </if>
			<if test="updater != null"> updater = #{updater}, </if>
		</trim>
		WHERE user_id=#{userId} and is_deleted='0'
	
	</update>
	
</mapper>