<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dao.tds.TdsUserDiscountMapper">

	<resultMap id="BaseResultMap" type="cn.entity.tds.TdsUserDiscount">
		<result column="id" property="id"></result>
		<result column="user_id" property="userId"></result>
		<result column="start_money" property="startMoney"></result>
		<result column="start_discount" property="startDiscount"></result>
		<result column="create_time" property="createTime"></result>
		<result column="update_time" property="updateTime"></result>
		<result column="creater" property="creater"></result>
		<result column="updater" property="updater"></result>
		<result column="is_deleted" property="isDeleted"></result>
		<result column="remarks" property="remarks"></result>
	</resultMap>

	<sql id="Base_Column_List">
		id,
		user_id,
		start_money,
		start_discount,
		create_time,
		update_time,
		creater,
		updater,
		is_deleted,
		remarks
	</sql>

	<select id="loadById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_user_discount
		WHERE
		id=#{id} AND IS_DELETED='0'

	</select>

	<select id="selectAll" resultMap="BaseResultMap" parameterType="HashMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_user_discount
		<where>
			<if test="id != null">and id = #{id}</if>
			<if test="userId != null">and user_id = #{userId}</if>
			<if test="startMoney != null">and start_money = #{startMoney}</if>
			<if test="startDiscount != null">and start_discount = #{startDiscount}</if>
			<if test="createTime != null">and create_time = #{createTime}</if>
			<if test="updateTime != null">and update_time = #{updateTime}</if>
			<if test="creater != null">and creater = #{creater}</if>
			<if test="updater != null">and updater = #{updater}</if>
			<if test="remarks != null">and remarks = #{remarks}</if>
			and is_deleted = '0'
		</where>
	</select>

	<insert id="save" parameterType="cn.entity.tds.TdsUserDiscount">
		INSERT INTO tds_user_discount
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null"> user_id , </if>
			<if test="startMoney != null"> start_money , </if>
			<if test="startDiscount != null"> start_discount , </if>
			<if test="createTime != null"> create_time , </if>
			<if test="updateTime != null"> update_time , </if>
			<if test="creater != null"> creater , </if>
			<if test="updater != null"> updater , </if>
			<if test="remarks != null"> remarks , </if>
			 is_deleted ,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null"> #{userId} , </if>
			<if test="startMoney != null"> #{startMoney} , </if>
			<if test="startDiscount != null"> #{startDiscount} , </if>
			<if test="createTime != null"> #{createTime} , </if>
			<if test="updateTime != null"> #{updateTime} , </if>
			<if test="creater != null"> #{creater} , </if>
			<if test="updater != null"> #{updater} , </if>
			<if test="remarks != null"> #{remarks} , </if>
		   '0' ,
		</trim>

	</insert>


	<update id="deleteById" parameterType="java.lang.Integer">
		UPDATE tds_user_discount SET IS_DELETED='1'
		WHERE id=#{id}
	</update>



	<update id="update" parameterType="cn.entity.tds.TdsUserDiscount">
		UPDATE tds_user_discount
		<trim prefix="set" suffixOverrides=",">
			<if test="userId != null"> user_id = #{userId}, </if>
			<if test="startMoney != null"> start_money = #{startMoney}, </if>
			<if test="startDiscount != null"> start_discount = #{startDiscount}, </if>
			<if test="createTime != null"> create_time = #{createTime}, </if>
			<if test="updateTime != null"> update_time = #{updateTime}, </if>
			<if test="creater != null"> creater = #{creater}, </if>
			<if test="updater != null"> updater = #{updater}, </if>
			<if test="isDeleted != null"> is_deleted = #{isDeleted}, </if>
			<if test="remarks != null"> remarks = #{remarks}, </if>
		</trim>
		WHERE id=#{id}
	</update>
</mapper>