<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dao.TdsUserRoleMapper">

	<resultMap id="BaseResultMap" type="cn.entity.TdsUserRole">
		<result column="id" property="id"></result>
		<result column="user_id" property="userId"></result>
		<result column="role_id" property="roleId"></result>
		<result column="create_time" property="createTime"></result>
		<result column="update_time" property="updateTime"></result>
		<result column="creater" property="creater"></result>
		<result column="updater" property="updater"></result>
		<result column="is_deleted" property="isDeleted"></result>
	</resultMap>

	<sql id="Base_Column_List">
		ID,
		USER_ID,
		ROLE_ID,
		CREATE_TIME,
		UPDATE_TIME,
		CREATER,
		UPDATER,
		IS_DELETED
	</sql>

	<select id="loadById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tds_user_role
		WHERE
		ID=#{id}
		AND IS_DELETED=0
	</select>
	
	
	<select  id="selectAll" resultMap="BaseResultMap" parameterType="cn.entity.TdsUserRole">
	    SELECT 
	    <include refid="Base_Column_List"/>
	    FROM tds_user_role
	    <where>
	    <if test="userId != null"> AND USER_ID=#{userId}</if>
	    <if test="roleId != null"> AND ROLE_ID=#{roleId}</if>
		<if test="createTime != null">AND CREATE_TIME=#{createTime}</if>
		<if test="updateTime != null">AND UPDATE_TIME=#{updateTime}</if>
		<if test="creater != null">AND CREATER=#{creater}</if>
		<if test="updater != null">AND UPDATER=#{updater}</if>
		AND IS_DELETED=0
		</where>
	</select> 

	<insert id="save" parameterType="cn.entity.TdsUserRole">
		INSERT INTO tds_user_role 
		<trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="userId != null"> USER_ID , </if>
		<if test="roleId != null"> ROLE_ID , </if>
		<if test="createTime != null"> CREATE_TIME , </if>
		<if test="updateTime != null"> UPDATE_TIME , </if>
		<if test="creater != null"> CREATER , </if>
		<if test="updater != null"> UPDATER , </if>
	    IS_DELETED 
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		<if test="userId != null"> #{userId} , </if>
		<if test="roleId != null"> #{roleId} , </if>
		<if test="createTime != null"> #{createTime} , </if>
		<if test="updateTime != null"> #{updateTime} , </if>
		<if test="creater != null"> #{creater} , </if>
		<if test="updater != null"> #{updater} , </if>
		0
		</trim>
	</insert>
   
     <!-- 逻辑删除  -->
	<update id="isDeleteById"  parameterType="java.lang.Integer" >
	    UPDATE tds_user_role SET IS_DELETED=1
	    WHERE ID=#{id}
	</update>


	<update id="update" parameterType="java.lang.Integer">
		UPDATE tds_user_role
		<trim prefix="set" suffixOverrides=",">
			<if test="userId != null"> USER_ID = #{userId}, </if>
			<if test="roleId != null"> ROLE_ID = #{roleId}, </if>
			<if test="createTime != null"> CREATE_TIME = #{createTime}, </if>
			<if test="updateTime != null"> UPDATE_TIME = #{updateTime}, </if>
			<if test="creater != null"> CREATER = #{creater}, </if>
			<if test="updater != null"> UPDATER = #{updater}, </if>
			<if test="isDeleted != null"> IS_DELETED = #{isDeleted}, </if>
		</trim>
		WHERE ID=#{id}
	</update>
</mapper>